@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0a0a0a;
  --background: #ffffff;
}

@layer base {
  * {
    border-color: #d1d5db; /* Example: Tailwind's gray-600 */
  }
}

@layer components{
  .custom-scroll{
    /* scrollbar-width: thin; */
    scroll-behavior: smooth;
    scrollbar-color: #d1d5db #ededed;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.3rem;
  color: var(--foreground);
  background: var(--background);
  height: 100dvh;
  position: relative;
}

.btn {
  background: var(--foreground);
  color: var(--background);
}

.nav{
  height: 90px;
}

.conBox{
  max-height: calc(100% - 100px);
  overflow-y: auto;
}

.dock{
  position: absolute;
  bottom: 1.75rem;
  left: 50%;
  transform: translateX(-50%);
}
